body
{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background: #f0f0f0;
}

a
{
	text-decoration: none;
}

#montantD
{
	text-align: right;
}

#login, #deconnexion
{
	margin-top: 3%;
	margin-left: 10%;
}

#montantC
{
	text-align: left;
}

#total
{
	text-align: center;
}

#supprRight
{
	text-align: left;
}

#supprLeft
{
	text-align: right;
}

#linkNoCo
{
	text-decoration: none;
}

#imgSuppr
{
	height: 45px;
	width: 62.6px;
}

table
{
	border-collapse: collapse;
	position: fixed;
	margin-left: 30%;
}

table, td, th
{
	border: 1px solid black;
}

#container
{
    position: fixed;
    width: 340px;
    height: 280px;
    top: 50%;
    left: 50%;
    margin-top: -7%;
    margin-left: -47%;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -webkit-animation-name: bounceIn;
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: bounceIn;
    -moz-animation-fill-mode: both;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: linear;
    animation-name: bounceIn;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

form
{
    margin: 0 auto;
    margin-top: 20px;
}
 
p a
{
    font-size: 11px;
    color: #aaa;
    float: right;
    margin-top: -13px;
    margin-right: 20px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}
 
p a:hover
{
    color: #555;
}
 
input, select
{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    outline: none;
}
 
input[type=text],
input[type=password],
select
{
	color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 18px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #f5f7f8;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

input[type=text]:hover,
input[type=password]:hover,
select:hover
{
    border: 1px solid #b6bfc0;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .7), 0 0 0 5px #f5f7f8;
}
 
input[type=text]:focus,
input[type=password]:focus,
select:focus
{
    border: 1px solid #a8c9e4;
    box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #e6f2f9;
}
 
#lower
{
    width: 100%;
    height: 69px;
    margin-top: 20px;
    /*background: #ecf2f5;
    box-shadow: inset 0 1px 1px #fff;
    border-top: 1px solid #ccc;*/
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
 
input[type=checkbox]
{
    margin-left: 20px;
    margin-top: 30px;
}
 
.check
{
    margin-left: 3px;
    font-size: 11px;
    color: #444;
    text-shadow: 0 1px 0 #fff;
}
 
input[type=button]
{
    width: 100px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #acd6ef; /*IE fallback*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
    border-radius: 30px;
    border: 1px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
    cursor: pointer;
}

#ajouter
{
	margin-left: 33%;
    margin-top: 20px;
}

input[type=button]:hover
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6e2ff), to(#6ec2e8));
    background-image: -moz-linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
    background-image: linear-gradient(top left 90deg, #b6e2ff 0%, #6ec2e8 100%);
}
 
input[type=button]:active
{
    background-image: -webkit-gradient(linear, left top, left bottom, from(#6ec2e8), to(#b6e2ff));
    background-image: -moz-linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
    background-image: linear-gradient(top left 90deg, #6ec2e8 0%, #b6e2ff 100%);
}


/*Style tableau*/
td, th
{
	font-size: 1em;
    border: 1px solid #66add6;
    padding: 3px 7px 2px 7px;
}

th
{
    height: 50px;
	font-size: 1.1em;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #acd6ef;
    color: #ffffff;
}

tr, td
{
	color: #000000;
    background-color: #ecf2f5;
}